* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gillroy;
    color:#fff

} 

nav {
    position:fixed;
    //background-color:brown;
    display:flex;
    height:12.2vh;
    width:100%;
    align-items:flex-start;
    padding: 2vw 9vw;
    justify-content:space-between;

}
.navi {
    display:flex;
   gap:1.8vw;
   padding:1vh;
   align-items:flex-start;
   padding: 1vh 0;
   position:relative;
   z-index:10;
}
.navi h4 {
    font-size:0.73vw;
    font-weight:400;
    text-transform:uppercase;
    margin-bottom:2vw;
}
.navi h5 {
    margin-bottom:1vw;
    //background-color:#711;
    display:none;
    overflow:hidden;
}
.navi h5 span {
    //background-color:red;
    font-size:0.77vw;
    font-weight:400;
    display:inline-block;
    transform:translateY((25px));
}
/*nav:hover #nav-bottom {
   // background-color:red;
    height:150%;
    bottom:-150%;
    background-color:#111;
}*/
nav button {
    background-color:#0BA34E;
    display:flex;
    align-items:center;
    padding:12px 14px;
    font-size:1vw;
    border-radius:50px;
    border:none;
    font-weight:700;
}
nav button svg {
    height:1vw;
    margin-left:1.5vw;
}

#nav-bottom {
    background-color:#111;
    position:absolute;
    height:0;
    width:80%;
    top:100%;
    border-bottom:1px solid #fff;
    
}
#bottom-div {
    margin-top:2vw;
}
#bottom-div h5 {
  margin-bottom:0.4vw;
  overflow:hidden;
 // background-color:red;
  
  
}
#bottom-div h5 span {
    font-weight:400;
    font-size:0.8vw;
    display:inline-block;
    opacity:0;

}


#page1 {
    height: 100vh;
    width:100%;
    background-color: #111;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#page1 h1 {
    
    text-transform: uppercase;
    font-size: 8.5vw;
    font-weight:900;
    line-height:8.5vw;
}
#page1 p {
    font-weight:400;
    margin-top:3vh;
    text-align:center;
}
#page1_tabs {
    display:flex;
    align-items:center;
    justify-content:center;
}
#page1_tabs h4 {
    //font-family:"Arial",sans-serif;
    font-weight:700;
    font-size:1vw;
    padding: 5px 10px;
    text-transform:uppercase;
    border:2px solid #a5a5a5;
    border-radius:50px;
    margin-top:1vw
    
}
#page1_tabs h4:nth-last-child(2) {
    background-color:#fff;
    color:#000;   
}

#page2 {
    height: 100vh;
    width:100%;
    background-color: #111;
}